.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    background-color: #2B7A78;
}

.hamburger {
    display: none;
    margin: .7em;
}

.toggler {
    width: 35px;
    height: 35px;
    padding: .3em;
    border-radius: 10px;
    transition: .5s;
}

.toggler:hover {
    background-color: #33918e;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    height: 60px;
    transition: .5s;
}

.nav-item:last-child {
    margin-right: 5em;
}

.nav-link{
    display: inline-block;
    font-size: 1.3em;
    color: #FEFFFF;
    padding: .7em;
    width: 100%;
    height: 100%;
}

.nav-item:hover{
    background-color: #266a68;
}

.nav-logo {
    width: 55px;
    height: 55px;
    margin: .5em;
}

@media only screen and (max-width: 840px) {
    .nav-menu {
        position: fixed;
        left: -110%;
        top: 60px;
        flex-direction: column;
        background-color: #2B7A78;
        width: 100%;
        transition: 0.3s;
        box-shadow:
            0px 15px 25px #2B7A78;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        width: 100%;
    }

    .nav-item:last-child {
        margin-right: 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }
}
